<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ========== COMMON STYLES ========== -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/animate-css/animate.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/lobipanel/lobipanel.min.css" media="screen" >

    <!-- ========== PAGE STYLES ========== -->
    <link rel="stylesheet" href="/static/css/prism/prism.css" media="screen" > <!-- USED FOR DEMO HELP - YOU CAN REMOVE IT -->
    <link rel="stylesheet" href="/static/css/toastr/toastr.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/blue.css" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/red.css" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/green.css" >
    <link rel="stylesheet" href="/static/css/bootstrap-tour/bootstrap-tour.css" >

    <!-- ========== THEME CSS ========== -->
    <link rel="stylesheet" href="/static/css/login.css" media="screen" >

    <!-- ========== MODERNIZR ========== -->
    <script src="/static/js/modernizr/modernizr.min.js"></script>
</head>
<body>
    <div class="flex-container">
        <div style="flex-grow: 5">
            <img src="../static/images/logo2.png"  alt="logo">
        </div>
        <div  style="flex-grow: 7">DASHBOARD</div>
      </div>

    <hr  width="100%" size="20px" align="center" color="black" height="10px">

    



</body>
</html>
